html {
    font-size:20px ;
}
body {
    font-family: "Arial", "Meiryo", sans-serif;
}
h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size:2rem ;
    line-height: 4.5;
    letter-spacing: 1.2em;
    background-color: red;
    text-shadow: 1px 1px 2px gray;
}
.text-pink {
    color: rgb(255, 192, 203);
} 
.text-blue {
    color: skyblue;
}
.text-center{
    text-align: center;
}